@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-orange: #ff7420;
  --color-gray: #f8fafc;
}
body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  h1 {
    /* Default size (mobile) */
    font-size: 40px;
    @apply text-3xl;

    /* Tablet (md) */
    @media (width>=theme(--breakpoint-md)) {
      @apply text-4xl;
    }

    /* Desktop (lg) */

    @media (width>=theme(--breakpoint-lg)) {
      @apply text-5xl;
    }
    /* Extra large (lg) */
    @media (width>=theme(--breakpoint-xl)) {
      @apply text-6xl;
    }
  }
  h2 {
    font-size: 30px;
    /* Tablet (md) */
    @media (width>=theme(--breakpoint-md)) {
      @apply text-3xl;
    }
    /* Desktop (lg) */
    @media (width>=theme(--breakpoint-lg)) {
      @apply text-4xl;
    }
    /* Extra large (xl) */
    @media (width>=theme(--breakpoint-xl)) {
      @apply text-5xl;
    }
  }
  p {
    /* Default size (Mobile) */
    @apply text-base leading-relaxed text-gray-700;

    /* Tablet (md) */
    @media (width>= theme(--breakpoint-md)) {
      @apply text-lg;
    }
    /* Desktop (lg) */
    @media (width>=theme(--breakpoint-lg)) {
      @apply text-xl;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
